.tags .tag-container {
  display: flex;
  padding: 4px;
  background-color: #ffffff33;
  border: #00000033 solid 1px;
  border-radius: 1px;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: scroll;
}

.tags .tag-container .tag {
  margin: 1px;
  border: #585858 solid 1px;
  background-color: rgb(181, 235, 181);
  border-radius: 5pt 1pt 1pt 5pt;
  align-items: center;
  display: inline;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
  transition: 50ms all ease-in-out;
}

.tags .tag-container .tag:hover {
  scale: 1.05;
  background-color: #224224;
}

.tags .tag-container .tag .text {
  display: inline-block;
  top: -5px;
  margin: 0px 5px 0px 5px;
}

.tags .tag-container .tag .text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tags .tag-container .tag .icon {
  margin: 0px 4px 0px 4px;
  background-color: transparent;
}

.tags .tag-container .on-drag {
  background-color: rgb(170, 105, 212);
}

.tags .tag-container .tag-input {
  background-color: transparent;
  border: none;
  width: 120px;
  flex-grow: 1;
}

.tags .actions {
  margin-top: 5pt;
  display: flex;
  justify-content: end;
  gap: 10px
}

.tags .actions .cancel {
  background-color: #671818;
}

.tags .actions .save {
  background-color: #224224;
}

.tags .actions .cancel:hover,
.tags .actions .save:hover {
  background-color: var(--color-warm-2);
}
